.rhino-game-holder {
	position: absolute;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(#6CD4FF, #A9F0D1);
	background: linear-gradient(#6CD4FF, #A9F0D1);
}

.world {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.header {
	position: absolute;
	top: 8vh;
	left: 0;
	width: 100%;
	text-align: center;
	pointer-events: none;
}

.header h1 {
	font-family: 'Federo', sans-serif;
	font-size: 4.5em;
	line-height: 1;
	margin: 0;
	letter-spacing: -0.025em;
	color: #FFA69E;
}

.header h3 {
	font-size: 0.55em;
	margin: 0.5em 0;
	white-space: nowrap;
	text-indent: 1em;
	letter-spacing: .7em;
	text-transform: uppercase;
	color: #2E294E;
}
.header h2 {
	font-size: 0.6em;
	margin: 0.25em 0;
	white-space: nowrap;
	text-indent: 1em;
	letter-spacing: .7em;
	text-transform: uppercase;
	color: #FFA69E;
}

.score {
	width: 100%;
	margin: 2em 0 0;
	text-align: center;
	white-space: nowrap;
}

.score__content {
	position: relative;
	display: inline-block;
	padding: 0 1em;
	vertical-align: top;
}



.message {
	font-weight: bold;
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	pointer-events: none;
}

.message--startToCare {
	font-size: 12px;
	font-family: 'Federo', sans-serif;
	bottom: 50vh;
	display: none;
	text-indent: 0.5em;
	line-height: 30px;
	letter-spacing: 0.5em;
	color:#2E294E;
}

.source {
  color:#FFA69E;
  font-size:9px;
}

#time{
  position:absolute;
  left:50%;
  top:25px;
  transform:translate(-50%,0%);
  user-select: none;  
}

.label{
  position:relative;
  font-family:'Federo', sans-serif;
  text-transform:uppercase;
  color:#FFA69E;
  font-size:12px;
  letter-spacing:2px;
  text-align:center;
  margin-bottom:5px;
}


#timeValue{
  position:relative;
  text-transform:uppercase;
  color:#FFA69E;//dc5f45;
  font-size:40px;
  font-family:'Voltaire';
  text-align:center;
}

#navigation{
  position:absolute;
  width:100%;
  margin: auto;
  bottom:0;
  margin-bottom:20px;
  font-family:'Federo', sans-serif;
  color:#41463D;
  font-size:15px;
  letter-spacing:3px;
  text-transform: uppercase;
  text-align : center;
  user-select: none;  
}
#navigation a {
  color:#41463D;
  
}

#navigation a:hover {
  color:#9D8DF1;
}

p {
    font-weight: 300;    
    line-height: 30px
}

p {
    margin: 0 0 15px
}